<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">IPOID</th>
            <th scope="col">Comoany Name</th>
            <th scope="col">Stock Exchange</th>
            <th scope="col">Price Per Share</th>
            <th scope="col">Total Number of Shares</th>
            <th scope="col">Open Date Time</th>
            <th scope="col">Remarks</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ipolist of ipolists; let i = index" class="item">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ipolist.comname}}</td>
            <td>{{ipolist.stockexchange}}</td>
            <td>{{ipolist.pershare}}</td>
            <td>{{ipolist.totalnum}}</td>
            <td>{{ipolist.opendate}}</td>
            <td>{{ipolist.remarks}}</td>
            <!-- <td class="column">
                <button class="btn btn-sm button-st" (click)="open(content,i)"
                onmouseover="this.style.backgroundColor='#4c7cac';"
                onmouseout="this.style.backgroundColor='#75a8db';">
                Edit</button></td> -->
        </tr>
    </tbody>
</table>
