<table class="table table-striped" style="border: 0px 100px;">
    <thead>
        <tr>
            <th scope="col">IPOID</th>
            <th scope="col">Comoany Name</th>
            <th scope="col">Stock Exchange</th>
            <th scope="col">Price Per Share</th>
            <th scope="col">Total Number of Shares</th>
            <th scope="col">Open Date Time</th>
            <th scope="col">Remarks</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ipoinfo of ipoinfos; let i = index" class="item">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ipoinfo.company_name}}</td>
            <td>{{ipoinfo.stock_exchange}}</td>
            <td>{{ipoinfo.price_per_share}}</td>
            <td>{{ipoinfo.total_num}}</td>
            <td>{{ipoinfo.open_date}}</td>
            <td>{{ipoinfo.remark}}</td>
            <td class="column">
                <button class="btn btn-sm button-st" (click)="open(content,i)"
                onmouseover="this.style.backgroundColor='#4c7cac';"
                onmouseout="this.style.backgroundColor='#75a8db';">
                Edit</button></td>
        </tr>
    </tbody>
</table>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update an Exchange</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="text-align: center;">
      <form [formGroup]="ipoForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="label_comname">Comoany Name:</label>
            <input type="text" class="input" formControlName="company_name">
          </div>
          <div class="form-group">
            <label class="label_stockexchange">Stock Exchange:</label>
            <input type="text" class="input" formControlName="stock_exchange">
          </div>
          <div class="form-group">
            <label class="label_pershare">Price Per Share:</label>
            <input type="text" class="input" formControlName="price_per_share">
          </div>
          <div class="form-group">
            <label class="label_totalnum">Total Number of Shares:</label>
            <input type="text" class="input" formControlName="total_num">
          </div>
          <div class="form-group">
            <label class="label_opendate">Open Date Time:</label>
            <input type="text" class="input" formControlName="open_date">
          </div>
          <div class="form-group">
            <label class="label_remarks">Remarks:</label>
            <input type="text" class="input" formControlName="remark">
          </div>
          <p>value:{{ipoForm.value | json }}</p>
          <div style="text-align: right;">
          <button type="submit" class="btn btn-outline-dark" [disabled]="!ipoForm.valid"
          >Submit</button>
        </div>
        </form>
    </div>
  </ng-template>