<!-- <form> -->
    <fieldset>
        <legend>Sign Up</legend>
        <div class="inp-positon">
            <input class="input" type="text" placeholder="User Name...">
        </div>
        <div class="inp-positon">
            <input class="input" type="text" placeholder="Password...">
        </div>
        <div class="positon">
            <button class="btn btn-large button-st" 
            onmouseover="this.style.backgroundColor='#4c7cac';" 
            onmouseout="this.style.backgroundColor='#75a8db';"
            [routerLink]="['/user-home']">Submit</button>
        </div>
    </fieldset>
<!-- </form> -->