<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>Sign In</legend>
        <div class="inp-positon">
            <input class="input" type="text" formControlName="userName" required
            placeholder="User Name...">
        </div>
        <div class="inp-positon">
            <input class="input" type="text" formControlName="passWord" required
            placeholder="Password...">
        </div>
        <!-- <p>value:{{loginForm.value | json }}</p> -->
        <ngb-alert *ngIf="!loginForm.value" (close)="staticAlertClosed = true">
            Please input your username!</ngb-alert>
        <div class="positon">
            <button type="submit"  class="btn btn-large button-st" [disabled]="!loginForm.valid"
            onmouseover="this.style.backgroundColor='#4c7cac';"
            onmouseout="this.style.backgroundColor='#75a8db';" 
            (click)="changeAlert()">
            Submit</button>
        </div>
    </fieldset>
</form>

<div style="text-align: center;margin: 0 0 0 270px;">
    <!-- <button class="btn btn-large button-st" 
        onmouseover="this.style.backgroundColor='#4c7cac';" 
        onmouseout="this.style.backgroundColor='#75a8db';"
        [routerLink]="['/sign-up']">Sign Up</button> -->
    <a [routerLink]="['/sign-up']">Please sign up...</a>
</div>


<!-- <p>
    Value: {{ mylog }}
  </p> -->
