<nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
        <a ngbNavLink>Import Data</a>
        <ng-template ngbNavContent>
            <app-import-data></app-import-data>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>Manage Company</a>
        <ng-template ngbNavContent>
            <app-manage-company></app-manage-company>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>Manage Exchange</a>
        <ng-template ngbNavContent>
            <app-manage-exchange></app-manage-exchange>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>Update IPO details</a>
        <ng-template ngbNavContent>
            <app-update-ipo></app-update-ipo>
        </ng-template>
    </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
