<fieldset>
    <legend>Sign Up</legend>
    <div class="inp-positon">
        <label class="label_name">Name</label>
        <input class="input" type="text">
    </div>
    <div class="inp-positon">
        <label class="label_pass">Password</label>
        <input class="input" type="text">
    </div>
    <div class="inp-positon">
        <label class="label_mail">E-mail</label>
        <input class="input" type="text">
    </div>
    <div class="inp-positon">
        <label class="label_tel">Telephone</label>
        <input class="input" type="text">
    </div>
    <div class="positon">
        <button class="btn btn-large button-st" 
        onmouseover="this.style.backgroundColor='#4c7cac';" 
        onmouseout="this.style.backgroundColor='#75a8db';"
        [routerLink]="['']">Submit</button>
    </div>
</fieldset>
