<nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
        <a ngbNavLink>IPOs</a>
        <ng-template ngbNavContent>
            <app-ipo-list></app-ipo-list>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>Compare Company</a>
        <ng-template ngbNavContent>
            <app-compare-list></app-compare-list>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>Change Password</a>
        <ng-template ngbNavContent>
            <app-change-pass></app-change-pass>
        </ng-template>
    </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>