<fieldset [formGroup]="changepassForm" (ngSubmit)="onSubmit()">
    <legend>Change Password</legend>
    <div class="inp-positon">
        <label class="label_name" disabled>Name</label>
        <input class="input" type="text" formControlName="userName">
    </div>
    <div class="inp-positon">
        <label class="label_pass">New Password</label>
        <input class="input" type="text" formControlName="passWord" #box (keyup)="onKey(box.value)">
        <!-- <p>{{values}}</p> -->
    </div>
    <div class="inp-positon">
        <label class="label_confirm">Confrim Password</label>
        <input class="input" type="text" formControlName="newPassword" #box2 (keyup)="onconfirmKey(box2.value)">
        <!-- <p>{{confirmvalues}}</p> -->
    </div>
    <p>
        <ngb-alert *ngIf="values && confirmvalues && confirmvalues!=values">
          <strong>Warning!</strong> The newpassword is incorrect.
        </ngb-alert>
      </p>
    <p>value:{{changepassForm.value|json}}</p>
    <div class="positon">
        <button (click)="onSubmit()" class="btn btn-large button-st" [disabled]="!changepassForm.valid"
        onmouseover="this.style.backgroundColor='#4c7cac';" 
        onmouseout="this.style.backgroundColor='#75a8db';"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"
        >Submit</button>
    </div>
    <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="card">
          <div class="card-body">
            Successful!Please back to login!
            <button class="btn btn-large button-st"
             onmouseover="this.style.backgroundColor='#4c7cac';" 
             onmouseout="this.style.backgroundColor='#75a8db';"
             [routerLink]="['']"
             >Login</button>
          </div>
        </div>
      </div>
</fieldset>