<fieldset>
    <legend>Change Password</legend>
    <div class="inp-positon">
        <label class="label_name" disabled>Name</label>
        <input class="input" type="text" disabled>
    </div>
    <div class="inp-positon">
        <label class="label_pass">New Password</label>
        <input class="input" type="text">
    </div>
    <div class="inp-positon">
        <label class="label_confirm">Confrim Password</label>
        <input class="input" type="text">
    </div>
    <div class="positon">
        <button class="btn btn-large button-st" 
        onmouseover="this.style.backgroundColor='#4c7cac';" 
        onmouseout="this.style.backgroundColor='#75a8db';">Submit</button>
    </div>
</fieldset>