<table class="table table-striped">
    <thead>
        <tr class="subtitle">
            <th scope="col">Company Code</th>
            <th scope="col">Company Name</th>
            <th scope="col">Turnovers($)</th>
            <th scope="col">CEO</th>
            <th scope="col">Board of Directors</th>
            <th scope="col">Listed in SE</th>
            <th scope="col">Sector Name</th>
            <th scope="col">Brief Writeup</th>
            <th scope="col">Stock Code</th>
            <th scope="col">Company Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cominfo of cominfos; let i = index" class="item">
            <td>{{cominfo.code}}</td>
            <td>{{cominfo.name}}</td>
            <td>{{cominfo.turnovers}}</td>
            <td>{{cominfo.ceo}}</td>
            <td>{{cominfo.board}}</td>
            <td>{{cominfo.list}}</td>
            <td>{{cominfo.sector}}</td>
            <td>{{cominfo.brief}}</td>
            <td>{{cominfo.stock}}</td>
            <td>{{cominfo.inuse}}</td>
            <td class="column">
                <button class="btn btn-sm button-st" (click)="open(content,i)"
                onmouseover="this.style.backgroundColor='#4c7cac';"
                onmouseout="this.style.backgroundColor='#75a8db';">
                Edit</button></td>
        </tr>
    </tbody>
</table>
<div style="text-align: right; margin:15px">
  <button class="btn btn-sm button-st" (click)="openadd(addcontent)"
                onmouseover="this.style.backgroundColor='#4c7cac';"
                onmouseout="this.style.backgroundColor='#75a8db';">
                Add</button>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update a company</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="text-align: center;">
      <form [formGroup]="manageComForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="label_code">Comoany Code:</label>
            <input type="text" class="input" formControlName="code">
          </div>
          <div class="form-group">
            <label class="label_name">Comoany Name:</label>
            <input type="text" class="input" formControlName="name">
          </div>
          <div class="form-group">
            <label class="label_turn">Turnovers($):</label>
            <input type="text" class="input" formControlName="turnovers">
          </div>
          <div class="form-group">
            <label class="label_ceo">CEO:</label>
            <input type="text" class="input" formControlName="ceo">
          </div>
          <div class="form-group">
            <label class="label_board">Board of Directors:</label>
            <input type="text" class="input" formControlName="board">
          </div>
          <div class="form-group">
            <label class="label_list">Listed in SE:</label>
            <select class="custom-select" formControlName="list" placeholder="manageComForm.value.list">
                <!-- <option selected>{{manageComForm.value.list}}</option> -->
                <option>Yes</option>
                <option>No</option>
            </select>
          </div>
          <div class="form-group">
            <label class="label_sector">Sector Name:</label>
            <input type="text" class="input" formControlName="sector" >
          </div>
          <div class="form-group">
            <label class="label_brief">Brief Writeup:</label>
            <input type="text" class="input" formControlName="brief" >
          </div>
          <div class="form-group">
            <label class="label_stock">Stock Code:</label>
            <input type="text" class="input" formControlName="stock" >
          </div>
          <div class="form-group">
            <label class="label_status">In Use:</label>
            <!-- <p>{{manageComForm.value.use}}</p> -->
            <select class="custom-select" formControlName="inuse" placeholder="manageComForm.value.inuse">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <p>value:{{manageComForm.value | json }}</p>
          <div style="text-align: right;">
          <button type="submit" class="btn btn-outline-dark" [disabled]="!manageComForm.valid">Submit</button>
        </div>
        </form>
    </div>
  </ng-template>
  
  <ng-template #addcontent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add a new company</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="text-align: center;">
      <form [formGroup]="manageComForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="label_code">Comoany Code:</label>
            <input type="text" class="input" formControlName="code">
          </div>
          <div class="form-group">
            <label class="label_name">Comoany Name:</label>
            <input type="text" class="input" formControlName="name">
          </div>
          <div class="form-group">
            <label class="label_turn">Turnovers($):</label>
            <input type="text" class="input" formControlName="turnovers">
          </div>
          <div class="form-group">
            <label class="label_ceo">CEO:</label>
            <input type="text" class="input" formControlName="ceo">
          </div>
          <div class="form-group">
            <label class="label_board">Board of Directors:</label>
            <input type="text" class="input" formControlName="board">
          </div>
          <div class="form-group">
            <label class="label_list">Listed in SE:</label>
            <select class="custom-select" formControlName="list" placeholder="manageComForm.value.list">
                <!-- <option selected>{{manageComForm.value.list}}</option> -->
                <option>Yes</option>
                <option>No</option>
            </select>
          </div>
          <div class="form-group">
            <label class="label_sector">Sector Name:</label>
            <input type="text" class="input" formControlName="sector" >
          </div>
          <div class="form-group">
            <label class="label_brief">Brief Writeup:</label>
            <input type="text" class="input" formControlName="brief" >
          </div>
          <div class="form-group">
            <label class="label_stock">Stock Code:</label>
            <input type="text" class="input" formControlName="stock" >
          </div>
          <div class="form-group">
            <label class="label_status">In Use:</label>
            <!-- <p>{{manageComForm.value.use}}</p> -->
            <select class="custom-select" formControlName="inuse" placeholder="manageComForm.value.inuse">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <p>value:{{manageComForm.value | json }}</p>
          <div style="text-align: right;">
          <button type="submit" class="btn btn-outline-dark" [disabled]="!manageComForm.valid">Submit</button>
        </div>
        </form>
    </div>
  </ng-template>
