<div class="form-inline top-bar-bg">
    <h1 class="top-bar top-bar-style">Welcome!</h1>
    <div class="navbar-nav ml-auto top-bar-style">
        <button class="btn btn-large button-st" 
        onmouseover="this.style.backgroundColor='#4c7cac';" 
        onmouseout="this.style.backgroundColor='#75a8db';"
        [routerLink]="['']">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <span class="material-icons">exit_to_app</span>
            Log Out
        </button>
    </div>
</div>