.top-bar-bg{
    background-color: #6699CC;
}
.top-bar-style{
    font-style:normal;
    color:#003366
}
.top-bar{
    padding-left: 20px;
}
.navbar-nav {
    flex-direction: row;
  }
.ml-auto{
    left: auto !important;
    right: 0px;
    padding-right: 40px;
}
.button-st{
    font-size: 18px;
    background-color: #75a8db;
    border-radius: 7px !important;
    color: #012549;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2)
}